html,body{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;

    @include respond-to('tablet'){
        font-size: 18px;
    }
}
h1,h2,h3,h4,h5,h6{
    font-family: MohaveBold, sans-serif;
}
nav{
    font-family: MohaveNormal, sans-serif; 
}
a{
    text-decoration: none;
    color:inherit;
}


@font-face {
    font-family: MohaveNormal;
    src: url(/css/fonts/mohave/Mohave.otf);
}

@font-face {
    font-family: MohaveBold;
    src: url(/css/fonts/mohave/Mohave-Bold.otf);
}

h1{
    font-size: 28px;
    @include respond-to('tablet'){
        font-size: 32px;
    } 
}
h2{
    font-size: 22px;
    @include respond-to('tablet'){
        font-size: 28px;
    }
}


nav{
    font-size: 18px;
    @include respond-to('tablet'){
        font-size: 22px;
    }
}