.slide{
    width: 100%;
    position: relative;
    height: 400px;
    display: flex;
    background: #fff;


    span{
        position: absolute;
        bottom:50px;
        right:50px;
        @include bg-colour('secondary');
        color:#fff;
        padding: 10px;
        border-radius: 2px;
    }
    img{
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        margin:auto;
        max-width: 480px;
        height: auto;

        width: 100%;

        @include respond-to('mobile'){
            width:auto;
        }

        @include respond-to('tablet'){
            max-width: 768px;
        }

    }
}

.cursor{
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    width:50px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    cursor: pointer;
    border-radius: 100%;
    text-align: center;
    background:rgba(255,255,255, 0.5);
    @include colour('primary');

    &:hover{
        @include bg-colour('primary');
        color:#fff;
    }
    &.prev{
        left:20px;
    }
    &.next{
        right:20px;
    }
}