@import "../utils/variables";

#footer{
    @include bg-colour('primary');
    position: relative;
    overflow: hidden;

    li{
        margin-bottom: 10px;
        
    }
    a{
        &:hover{
            @include colour('tertiary');
            transition: 0.3s color;
        }
    }
    .social-icon{
        img{
            max-width: 40px;
            width: 100%;
        }

    }

    .links{
        margin-bottom: 20px;
        border-bottom: 2px solid  map-get($colours, 'secondary');

        @include respond-to('tablet'){

        }
        @include respond-to('desktop'){
            margin: 0px;
            display: inline-block;
            float: left;
            border-bottom: 0px;

            
        }

        li{
            @include respond-to('desktop'){
                display: inline-block;
                margin-bottom: 0px;
    
                &:not(:last-child){
                    float: left;
                    margin-right: 20px;
                }
            }
        }
    }

    .copyright{
        @include respond-to('desktop'){
            display: inline-block;
            float: right;
        }

        li{
            @include respond-to('tablet'){
                display: inline-block;
                margin-bottom: 0px;
    
                &:not(:last-child){
                    float: left;
                    margin-right: 20px;
                }
            }
        }

    }

}