@import "../utils/variables";

#header{
    position:relative;
    z-index: 10;
    background:#fff;
    border-bottom: 3px solid map-get($colours, 'primary');
    display: flex; 
    align-items: center; 

    .logo{
        width:60px;
        @include respond-to('tablet'){
            width:80px;
        }

    }

    

}
  #hamburger{

    margin-left:auto;
    width: 50px;
    height:50px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
   
  }
  
  #hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    @include bg-colour('primary');
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #hamburger span:nth-child(1) {
    top: 0px;
  }
  
  #hamburger span:nth-child(2) {
    top: 18px;
  }
  
  #hamburger span:nth-child(3) {
    top: 36px;
  }
  
  #hamburger.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #hamburger.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }