#menu{
    @include bg-colour('primary');
    
    position:relative;
    z-index: 1;
    height: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    transition-duration: 0.3s;
    overflow: hidden;

    &.visible{
        padding: 20px;
        height:auto;
        @include respond-to('tablet'){
            padding: 20px 40px;
        }

    }
    
    li{
        display: block;

        &:not(:last-child){
            margin-bottom: 10px;
        }

        @include respond-to('tablet'){
            display: inline-block;
            margin-bottom: 0px !important;
            margin-right: 15px;
        }
        @include respond-to('desktop'){
            margin-right: 20px;
        }
    }
    a{
        color:#fff;
        text-decoration: none;

        &:hover{
            @include colour('tertiary');
            transition: 0.3s color;
        }
    }
    
}