#mistery{
    background:#ebebeb;
    position: relative;
    height: 230px;
    h2{
        color:#fff;
        display: block;
        padding:40px;
        text-align: center;
    }
}

.slogan-1, 
.slogan-2, 
.slogan-3 {
	position: absolute;
    display: block;
	top: 2em;
    width: 60%;
    font-size: 2em;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.slogan-1{
    animation-name: anim-1;
    h2{
        @include bg-colour('tertiary');
    }
}

.slogan-2{
    animation-name: anim-2;
    h2{
        @include bg-colour('secondary');
    }
}

.slogan-3{
    animation-name: anim-3;
    h2{
        @include bg-colour('primary');
    }
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}