#promo{
    display:flex;
    flex-flow:row wrap;  
    
    .promo-box{
        flex-basis:100%;
    }
    @include respond-to('tablet'){
        .promo-box:not(:last-child){
            flex-grow:0;
            flex-basis:50%;
        }
        .promo-box:last-of-type{
            flex:0 0 50%;
            margin:0 auto;
        }
    }

    @include respond-to('desktop'){
        .promo-box{
              flex: 0 0 33.33% !important;
        }
    }        
}



.promo-box{
    cursor: pointer;
    position: relative;

    .title{
        @include bg-colour('primary');
        text-align: center;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;

        @include respond-to('tablet'){
            height: auto;
            height: 80px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    }


    .image-wrapper{
        height: 300px; 
        @include respond-to('desktop'){
            height: 400px;
        }

        &.squier{
            background: url(/images/promo/squier-guitars.jpg) no-repeat center;
            background-size: cover;
        }
        &.komplete{
            background: url(/images/promo/komplete-kontrol.jpg) no-repeat center;
            background-size: cover;
            
        }
        &.shure{
            background: url(/images/promo/shure-sh55.jpg) no-repeat center;
            background-size: cover;
        }
    }

    

    .overlay{
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;

        &:hover{
            background:rgba(255,255,255,0.2);
        }
    }

}