


<html>
    <head>
        <title></title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>

        {{> partials/header}}

        {{> partials/menu}}

        {{> partials/carousel}}

        {{> partials/promo}}

        {{> partials/mistery}}

        {{> partials/footer}}

        <script type="text/javascript" src="scripts/main.js"></script>
    </body>
</html>


    
