<div class="section no-wrap" id="carousel">
    <div class="siema">
        <div class="slide" id="guitar1">
            <img src="/images/carousel/fender-jaguar.jpg" />
            <span>£ 799,99</span>
        </div>
        <div class="slide" id="guitar2">
            <img src="/images/carousel/les-paul-classic.jpg" />
            <span>£ 899,99</span>
        </div>
        <div class="slide" id="guitar3">
            <img src="/images/carousel/telecaster-deluxe.jpg" />
            <span>£ 699,99</span>
        </div>
    </div>
    <div class="cursor prev"><</div>
    <div class="cursor next">></div>
</div>

