<div id="footer" class="section">

    <div class="links">
        <ul>
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
            <li><a>Link 3</a></li>
            <li><a>Link 4</a></li>
        </ul>
    </div>
    <div class="copyright">
         <ul>
            <li>
                copyright ©
            </li>
            <li>
                 <a class="social-icon" href="#"><img src="/images/facebook.svg"/></a>
            </li>
            <li>
                <a class="social-icon" href="#"><img src="/images/twitter.svg"/></a>
            </li>
        </ul>
        
    </div>
</div>