<div id="header" class="section">
    <img class="logo" src="images/logo.svg" width="150" />

    <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>