<div class="section" id="mistery">
    
   
      
     

  <div class="slide-show">
      

    <div class="slogan-1"> <h2>Best deals in the market</h2></div>

    <div class="slogan-2"><h2>24 months warranty included</h2></div>

    <div class="slogan-3"> <h2>Online chat 24/7</h2></div>


  </div>
  

</div>