<div class="section no-wrap" id="promo">
    
        <a href="#" class="promo-box">
            <div class="overlay"></div>
            <h2 class="title">20% off Squier guitars</h2>
            <div class="image-wrapper squier">
            </div>
        </a>

        <a href="#" class="promo-box">
            <div class="overlay"></div>
            <div><h2 class="title">Native Instruments deals</h2></div>
            <div class="image-wrapper komplete">
            </div>
        </a>
    
        <a href="#" class="promo-box">
            <div class="overlay"></div>
            <h2 class="title">Shure mics promo</h2>
            <div class="image-wrapper shure">
            </div>
        </a>

</div>