@mixin respond-to($point, $condition: min-width) {
    // Ensure media query isn't in quotes
    $condition: unquote($condition);
    // Check global breakpoints first
    @if map-has-key($breakpoints, $point) {
      @media ($condition: map-get($breakpoints, $point)) {
        @content;
      }
      // Failing that, check local tweakpoints
    } @else if map-has-key($tweakpoints, $point) {
      @media ($condition: map-get($tweakpoints, $point)) {
        @content;
      }
    } @else {
      @warn "Could not find `#{$point}` in both local ($tweakpoints) and global ($breakpoints) contexts. Media block omitted.";
    }
  }

  @mixin colour($color) {
    @if map-has-key($colours, $color) {
      color: map-get($colours, $color)
    }@else{
      @warn "Could not find `#{$color}` in color table.";
    }
  }

  @mixin bg-colour($color) {
    @if map-has-key($colours, $color) {
      background-color: map-get($colours, $color)
    }@else{
      @warn "Could not find `#{$color}` in color table.";
    }
  }

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}
